policy_module(ipsec, 2.0.0)

########################################
#
# Declarations
#

# type for ipsec configuration file(s) - not for keys
type ipsec_conf_file_t;
files_config_file(ipsec_conf_file_t)

type ipsec_initrc_exec_t;
init_script_file(ipsec_initrc_exec_t)

# type for file(s) containing ipsec keys - RSA or preshared
type ipsec_key_file_t;
files_auth_file(ipsec_key_file_t)

type ipsec_mgmt_t;
type ipsec_mgmt_exec_t;
init_daemon_domain(ipsec_mgmt_t, ipsec_mgmt_exec_t)

type ipsec_mgmt_lock_t;
files_lock_file(ipsec_mgmt_lock_t)

# type for runtime files, including pluto.ctl
type ipsec_run_t;
files_pid_file(ipsec_run_t)

type ipsec_supervisor_t;
type ipsec_supervisor_exec_t;
init_daemon_domain(ipsec_supervisor_t, ipsec_supervisor_exec_t)

type ipsec_supervisor_run_t;
files_pid_file(ipsec_supervisor_run_t)

type ipsec_t;
type ipsec_exec_t;
init_daemon_domain(ipsec_t, ipsec_exec_t)

type ipsec_unit_t;
init_unit_file(ipsec_unit_t)

########################################
#
# ipsec_mgmt local policy
#

allow ipsec_mgmt_t self:fifo_file rw_fifo_file_perms;

allow ipsec_mgmt_t ipsec_mgmt_lock_t:file manage_file_perms;
files_lock_filetrans(ipsec_mgmt_t, ipsec_mgmt_lock_t, file)

domtrans_pattern(ipsec_mgmt_t, ipsec_supervisor_exec_t, ipsec_supervisor_t);

corecmd_exec_bin(ipsec_mgmt_t)
corecmd_exec_shell(ipsec_mgmt_t)

files_search_locks(ipsec_mgmt_t)
files_search_pids(ipsec_mgmt_t)

miscfiles_read_localization(ipsec_mgmt_t)

########################################
#
# ipsec_supervisor local policy
#

allow ipsec_supervisor_t self:fifo_file rw_fifo_file_perms;
allow ipsec_supervisor_t self:unix_dgram_socket { connect create };
allow ipsec_supervisor_t self:unix_stream_socket create;

allow ipsec_supervisor_t ipsec_conf_file_t:dir list_dir_perms;
allow ipsec_supervisor_t ipsec_conf_file_t:file read_file_perms;

domtrans_pattern(ipsec_supervisor_t, ipsec_exec_t, ipsec_t)

allow ipsec_supervisor_t ipsec_run_t:file delete_file_perms;
allow ipsec_supervisor_t ipsec_run_t:sock_file { delete_sock_file_perms write };

allow ipsec_supervisor_t ipsec_supervisor_run_t:file manage_file_perms;
files_pid_filetrans(ipsec_supervisor_t, ipsec_supervisor_run_t, file)

allow ipsec_supervisor_t ipsec_t:process { sigkill signal };
allow ipsec_supervisor_t ipsec_t:unix_stream_socket connectto;

kernel_read_network_state(ipsec_supervisor_t)
kernel_read_system_state(ipsec_supervisor_t)

corecmd_exec_bin(ipsec_supervisor_t)
corecmd_exec_shell(ipsec_supervisor_t)

dev_read_rand(ipsec_supervisor_t)
dev_read_urand(ipsec_supervisor_t)

files_list_kernel_modules(ipsec_supervisor_t)
files_read_etc_symlinks(ipsec_supervisor_t)
files_search_pids(ipsec_supervisor_t)

miscfiles_read_localization(ipsec_supervisor_t)

modutils_exec_kmod(ipsec_supervisor_t)
modutils_read_module_config(ipsec_supervisor_t)
modutils_read_module_deps(ipsec_supervisor_t)

logging_send_syslog_msg(ipsec_supervisor_t)

########################################
#
# ipsec local policy
#

allow ipsec_t self:capability { net_admin net_raw };
allow ipsec_t self:process { getcap setcap signal };
allow ipsec_t self:fifo_file rw_fifo_file_perms;
allow ipsec_t self:netlink_route_socket rw_netlink_socket_perms;
allow ipsec_t self:netlink_xfrm_socket rw_netlink_socket_perms;
allow ipsec_t self:packet_socket create_socket_perms;
allow ipsec_t self:udp_socket create_socket_perms;
allow ipsec_t self:unix_dgram_socket { connect create };
allow ipsec_t self:unix_stream_socket create_stream_socket_perms;

allow ipsec_t ipsec_conf_file_t:dir list_dir_perms;
allow ipsec_t ipsec_conf_file_t:file read_file_perms;

allow ipsec_t ipsec_key_file_t:dir list_dir_perms;
allow ipsec_t ipsec_key_file_t:file read_file_perms;

allow ipsec_t ipsec_run_t:file manage_file_perms;
allow ipsec_t ipsec_run_t:sock_file manage_sock_file_perms;
files_pid_filetrans(ipsec_t, ipsec_run_t, { file sock_file })

# cryptographic modules
kernel_request_load_module(ipsec_t)
# write /proc/sys/net/core/xfrm_acq_expires
kernel_rw_net_sysctls(ipsec_t)
kernel_search_network_sysctl(ipsec_t)

corecmd_exec_bin(ipsec_t)

corenet_udp_bind_dhcpc_port(ipsec_t)
corenet_udp_bind_generic_node(ipsec_t)
corenet_udp_bind_ipsecnat_port(ipsec_t)
corenet_udp_bind_isakmp_port(ipsec_t)

dev_read_rand(ipsec_t)
dev_read_urand(ipsec_t)

files_read_etc_symlinks(ipsec_t)

miscfiles_read_generic_certs(ipsec_t)
miscfiles_read_localization(ipsec_t)

logging_send_syslog_msg(ipsec_t)

